<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223884308113-5aal32dnf2ad8qdtph23jk3201pkknep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223884308113-5aal32dnf2ad8qdtph23jk3201pkknep</string>
	<key>API_KEY</key>
	<string>AIzaSyBah7-uqlnPVIDG1E5aIOpK2BHmbwYzIkY</string>
	<key>GCM_SENDER_ID</key>
	<string>223884308113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp1</string>
	<key>PROJECT_ID</key>
	<string>frcapp-ace4a</string>
	<key>STORAGE_BUCKET</key>
	<string>frcapp-ace4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223884308113:ios:7522580ebe2ee9e0149930</string>
</dict>
</plist>